/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--primary-font-color : #2f96c2;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM */
html {
}
body {
	width : 100%;
}
header {
	margin : 1rem auto;
	width : 100%;
}

header h1 {
	display: inline-block;
	font-size : 2rem;
	font-weight : 600;
	padding-left : 1rem;
	padding-top : 1rem;
	padding-bottom : 1rem;
	color : var(--primary-font-color);
}

header span {
	display: inline-block;
	float : right;
}
nav {
	width : 100%;
	padding-top : 1rem;
	padding-bottom : 1rem;
	box-shadow : 0rem 3px 3px 0 rgba(128, 128, 128, 0.46);
}
nav ul li {
	display: inline-block;
}
nav ul li a{
	padding : 1rem 2rem 1rem 2rem;
	width : 100%;
	height : 100%;
	text-decoration: none;
	color : var(--primary-font-color);
}
nav ul li a:hover {
	color : black;
}

.tableForm {
	margin : 3rem auto;
	width : 90%;
	height : calc(100vh - 15rem);
	border-radius: 2rem;
	border : 1px solid gray;
}
.tableForm .tableHeader{
	padding : 0.5rem;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(1, 1fr);
	text-align : center;
	color : gray;
	border-bottom : 1px solid #5ea695;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.tableForm .tableBody {
	padding : 0.5rem;
	width : 99%;
	margin : 0 auto;
	height : 90%;
	text-align : center;
	overflow-y : auto;
}
.tableBody {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
.tableBody > .item {

	padding-top : 0.5rem;
	padding-bottom : 0.5rem;
}
.tableset {
	text-align :center;
	height : calc(100vh - 13rem);
	overflow-y: auto;
}
.grid-rows{
	display : grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 1fr;
}
.grid-rows:hover {
	background: rgba(193, 193, 196, 0.31);
}
.tableset .items{
	padding : 1rem;
}
.grid-header {
	display : grid;
	padding : 1rem;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 1fr;
	text-align: center;
	background: rgba(106, 212, 236, 0.23);
}