html, body {
}

header {
    margin : 2rem;
}
.container {
    overflow : scroll;
}
.full-height {
}
.main-wrapper {
    width : 100%;
    background : rgba(235, 248, 248, 0.32);
    padding : 1rem;
}
.table-width {
    width : 100%;
}