{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="tableForm">
        <div class="tableHeader">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
        </div>
        <div class="tableBody">
            {% for company in companys %}
            <div class="item">{{ company.year }}</div>
            <div class="item">{{ company.ht }}</div>
            <div class="item">{{ company.mgc }}</div>
            <div class="item">{{ company.entrpsNm }}</div>
            <div class="item">{{ company.chckDe }}</div>
            <div class="item">{{ company.chcklnstt }}</div>
            <div class="item">{{ company.wtrsmpleDe }}</div>
            <div class="item">{{ company.chckAt }}</div>
            <div class="item">{{ company.unchckPrvonsh }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}